* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: gray;
    text-transform: capitalize
}

.main {
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 450px) {
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 2200px;
    }
}

/* div k 4 box  */
.box {
    background-color: white;
    margin-top: 25px;
    border-radius: 10px;
    width: 250px;
    height: 490px;
    border: 2px dashed black;
}

/* div ki box khtm  */

/* div ki img  */

.img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


/* div ki img khtm */

/* div ki h1 aur p  */

h1 {
    font-size: 30px;
    margin-inline-start: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: gray;

}

p {
    padding-left: 10px;
    color: black;
}

/* div ki h1 aur p khtm */

/* div person detials */

.choti {
    margin-top: 10px;
    padding: 3px;
    width: 50px;
    border-radius: 100%;
    display: inline;
}

h4 {
    display: inline-block;
    position: relative;
    /* left: 0px; */
    bottom: 30px;
}

.para {
    position: relative;
    left: 50px;
    bottom: 30px;
    color: blue;

}

.para1 {
    color: green;
    position: relative;
    left: 50px;
    width: 50px;
    bottom: 30px;

}

a {
    text-decoration: none;
    color: black;
}

/* div person detials khtm */

/* div ki btn */


.rr {
    background-color: gray;
    color: white;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 50px;
    /* margin-top: 30px; */
    margin-left: 46px;
}

.rr:hover {
    border: 2px solid gray;
    background-color: white;
    color: black;
    cursor: pointer;
}

/* div ki btn khtm */